<%- include('head')-%>

<body>
    <div id="my-container">
        <div class="card my-card">
            <div class="card-body">
                <form action="/logout" method="GET">
                    Masuk sebagai <b> <%= user.name %> </b> 
                    <input type="submit" class="btn btn-sm btn-outline-danger" value="Keluar">
                </form>
            </div>
        </div>

        <div class="card my-card">
            <div class="card-body" id="main-card">
                Maaf, hanya untuk admin :)
            </div>
        </div>
    </div>
</body>
</html>