<%- include('head')-%>

<body>
    <div id="my-container">
        <div class="card my-card">
            <div class="card-body">
                <form action="/logout" method="GET">
                    Masuk sebagai Admin <b> <%= user.name %> </b> 
                    <input type="submit" class="btn btn-sm btn-outline-danger" value="Keluar">
                </form>
            </div>
        </div>

        <div class="card my-card">
            <% if(hasil.length == 0){ %>
                <div class="card-body" id="main-card">
                    Belum ada hasil yang dapat ditampilkan
                </div>
            <% } else{ %>  
                <div id="chartContainer" class="mt-4" style="height: 300px; width: 100%;"></div>
            <% } %>
        </div>
    </div>

    <script src="js/result.js"></script>
    <script src="js/canvasjs.min.js"></script>
</body>
</html>